@font-face {
  font-family: "iconfont"; /* Project id 4875122 */
  src: url('iconfont.woff2?t=1768876374438') format('woff2'),
       url('iconfont.woff?t=1768876374438') format('woff'),
       url('iconfont.ttf?t=1768876374438') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuti:before {
  content: "\e60c";
}

.icon-zhuti1:before {
  content: "\e601";
}

.icon-wenjianjia:before {
  content: "\e64b";
}

.icon-a-wenjian5:before {
  content: "\eb60";
}

.icon-tuijiansaomiao:before {
  content: "\e692";
}

.icon-wuliuguanli:before {
  content: "\e656";
}

.icon-jihuobaojiadan_line:before {
  content: "\e6d5";
}

.icon-icon-mianxing_fuzhi_xiazai:before {
  content: "\e60a";
}

.icon-caiwujiesuan:before {
  content: "\e634";
}

.icon-chanpin:before {
  content: "\e613";
}

.icon-chuku1:before {
  content: "\e605";
}

.icon-ruku1:before {
  content: "\e607";
}

.icon-caiwu:before {
  content: "\e68d";
}

.icon-yingyong:before {
  content: "\e620";
}

.icon-kuneiguanli:before {
  content: "\e762";
}

.icon-tuodong:before {
  content: "\e6a8";
}

.icon-fixed_line:before {
  content: "\e713";
}

.icon-gongju:before {
  content: "\e767";
}

.icon-shu1:before {
  content: "\e68b";
}

.icon-shu:before {
  content: "\e612";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-icon01:before {
  content: "\e603";
}

.icon-qushi:before {
  content: "\e608";
}

.icon-tiaoma:before {
  content: "\e9ac";
}

.icon-ruku:before {
  content: "\eb1b";
}

.icon-chuku:before {
  content: "\eb1c";
}

.icon-kehugenjin:before {
  content: "\e60d";
}

.icon-renwu:before {
  content: "\e609";
}

.icon-keyborad:before {
  content: "\e91c";
}

.icon-gearmore:before {
  content: "\e978";
}

.icon-wuliu:before {
  content: "\e999";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-gongsigonggao:before {
  content: "\f8dd";
}

.icon-diqiu:before {
  content: "\e734";
}

.icon-xiugaimima01:before {
  content: "\e606";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-tuichudenglu:before {
  content: "\e61b";
}

.icon-shoujihao:before {
  content: "\e67f";
}

.icon-yonghuming:before {
  content: "\e619";
}

.icon-mmxg:before {
  content: "\e63b";
}

.icon-yanzhengma:before {
  content: "\e685";
}

.icon-xiaoshouguanli:before {
  content: "\e60b";
}

.icon-caiwuguanli:before {
  content: "\e62b";
}

.icon-kefuguanli:before {
  content: "\e602";
}

.icon-xitongguanli:before {
  content: "\e6ae";
}

.icon-a-Saleswarehousemanagement:before {
  content: "\e62e";
}

.icon-chuhuoguanli:before {
  content: "\e611";
}

.icon-yunyingzhongxin:before {
  content: "\e639";
}

.icon-gengduo:before {
  content: "\e610";
}

.icon-quanping:before {
  content: "\e657";
}

.icon-yunxiazai:before {
  content: "\e6b1";
}

.icon-xiaoxitongzhi:before {
  content: "\e78b";
}

